@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 44 45.4% 59.8%;
    --primary-foreground: 0 0% 100%;

    /* --secondary: 82 59% 95%; */
    --secondary: 0 0.0% 19.2%;
    --secondary-foreground: 82 59% 21%;

    --muted: 82 59% 95%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 82 59% 95%;
    --accent-foreground: 82 59% 21%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 82 59% 31%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    /* --primary: 82 59% 31%; */
    --primary: 44 45.4% 59.8%;
    --primary-foreground: 0 0% 100%;

    --secondary: 82 59% 15%;
    --secondary-foreground: 210 40% 98%;

    --muted: 82 59% 15%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 82 59% 15%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 82 59% 15%;
    --input: 82 59% 15%;
    --ring: 82 59% 31%;
  }

  
  /*Para simular el cursor del teclado usamos la siguiente pseudoclase con una animación que pueden ver en la parte final del código CSS*/
  .animate-text::after {
    content: "|";
    font-family: "Inconsolata", monospace;
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: -2px;
    position: relative;
  }

  
  /*Esta animación imita el parpadeo del cursor del teclado*/
  @keyframes parpadeo {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

